<form id="blog-form">
    <label>Name: <input type="text" name="name" /></label><br />
    <label>Topic: <input type="text" name="topic" /></label><br />
    <label>Blog: <textarea name="blog"></textarea></label><br />
    <button type="submit">Add Blog</button>
</form>