<h1>Fill in your information</h1>
<form action="/submit" method="POST">
    Name:
    <input type="text" name="name" /><br />
    Email:
    <input type="email" name="email" /><br />
    Age:
    <input type="number" name="age" /><br />
    City:
    <input type="text" name="city" /><br />
    phone:
    <input type="number" name="phone" /><br />
    street:
    <input type="text" name="street" /><br />
    zip:
    <input type="number" name="zip" /><br />
    University:
    <input type="text" name="university" /><br />
    Degree:
    <input type="text" name="degree" /><br />
    year:
    <input type="number" name="year" /><br />
    skill1:
    <input type="text" name="skill1" /><br />
    skill2:
    <input type="text" name="skill2" /><br />
    skill3:
    <input type="text" name="skill3" /><br />
    <button type="submit">Submit</button>
</form>